{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<section class="container-fluid">
    <section class="container text-center">
        <div class="row">
            <div class="col-md-12 pt-5">
                <h1 class="text-secondary">Veuillez vous inscrire...</h1>
            </div>
            <div class="col-md-12 py-5 text-secondary">
                {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.username) }}
                            <p>Votre Nom: </p>
                        {{ form_row(registrationForm.Nom) }}
                            <p>Votre Prénom: </p>
                        {{ form_row(registrationForm.Prenom) }}
                            <p>Votre Mot de Passe: </p>
                        {{ form_row(registrationForm.plainPassword) }}
                    <button type="submit" class="btn btn-secondary">Valider</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
</section>



{% endblock %}
